.btn-component {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 8px;
}

.modal {
  width: 124px;
}

.small {
  width: 140px;
}

.large {
  width: 200px;
}

.full {
  width: 100%;
}

.primary {
  background-color: var(--blue-primary-500);
  color: var(--yellow-400);
}

.primary:hover{
  background: var(--blue-primary-600);
}

.secondary {
  background-color: var(--white);
  border: 2px solid var(--blue-primary-600);
  color: var(--blue-primary-600);
}

.secondary:hover {
  background: #ECF540;
}

button:disabled {
  opacity: 60%;
}

.yellow-primary {
  background-color: var(--yellow-500);
  color: var(--blue-primary-600);
}

.yellow-secondary {
  background-color: transparent;
  color: var(--yellow-500);
  border: 2px solid var(--yellow-500);
}
