.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-size: 1.5rem;
  /* gap: 34px; */
}

legend {
  font-size: 1rem;
}

.title {
  color: var(--yellow-500);
  margin-bottom: 34px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-top: 8px;
  color: var(--white);
  background-color: #7091fe;
  min-height: 50px;
  border-radius: 8px;
}

.card-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details {
  margin-top: 16px;
}

.details > legend {
  color: var(--gray5);
  font-weight: 400;
}

.button-content {
  display: flex;
  justify-content: space-between;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  margin-top: 42px;
  color: var(--yellow-500);
}

.total legend {
  text-align: end;
  color: var(--yellow-500);
}
