<main class="content p-8" >
  <dialog class="modal" #dialog>
    <div class="btn-close-content">
      <button class="btn-close-modal" (click)="closeDialog()">
        <img width="30" height="30" src="../../../assets/close.svg" />
      </button>
    </div>
    <div class="quantity-content">
      <h2>Altere a quantidade</h2>
      <div class="quantity">
        <button
          class="btn"
          [ngClass]="{ 'btn-disabled': orderToEdit.quantity <= 1 }"
          [disabled]="canEnableButton()"
          (click)="subtractQuantity()"
        >
          -
        </button>
        <span>{{ orderToEdit.quantity }}</span>
        <button
          class="btn"
          (click)="addQuantity();"
        >
          +
        </button>
      </div>
      <app-button
        [isDisabled]="false"
        buttonTitle="confirmar"
        size="large"
        styleButton="primary"
        (buttonAction)="closeDialog()"
      ></app-button>
    </div>
  </dialog>

  <div>
    <header>
      <h1 class="title">Resumo da conta</h1>
    </header>
    <section class="description" *ngFor="let order of orders; let i = index">
      <div class="icon">
        <a (click)="openDialog(order)">{{ order.quantity }}</a>
      </div>
      <a class="btn-description" [routerLink]="'/ordens/' + order.id">
        <div class="names-content">
          <h6>{{ order.name }}</h6>
            <legend>
              {{ getFormattedUserNamesForDisplay(order.sharedUsers) }}
            </legend>
        </div>

        <div class="description-price">
          <div class="price-content">
            <h6>
              {{ multiplyValues(order.quantity, order.price) | currency }}
            </h6>
            <legend>({{ order.price | currency }})</legend>
          </div>
          <button>
            <img width="8" src="../../../assets/icon _nav.svg" alt="" />
          </button>
        </div>

      </a>
    </section>
    <section class="service-payment">
      <h4>Taxa de serviço</h4>
      <form action="" [formGroup]="orderForm">
        <div class="percent-content">
          <input
            formControlName="percent"
            type="number"
            name="percent"
            max="100"
            placeholder="10"
            (change)="sumTotalOrders();"
          />
          <h3>%</h3>
        </div>
      </form>
    </section>

    <section class="resume">
      <h2>Total</h2>
      <div>
        <h1>{{ sumTotalOrders() | currency }}</h1>
        <legend>com taxa de {{orderForm.get('percent').value}}%</legend>
      </div>
    </section>
  </div>

  <footer class="button-content">
    <app-button
      [isDisabled]="false"
      buttonTitle="incluir item"
      size="small"
      styleButton="secondary"
      (buttonAction)="goToOrder()"
    ></app-button>
    <app-button
      [isDisabled]="false"
      buttonTitle="dividir"
      size="small"
      styleButton="primary"
      (buttonAction)="navigateTo();"
    ></app-button>
  </footer>
</main>
