<main class="content p-8">

  <dialog class="modal" #dialog>
    <div class="modal-content" *ngIf="orderToEditOrDelete">
      <div >
        <h2>Tem certeza que deseja excluir o item <b>{{ orderToEditOrDelete.name }}</b>?</h2>
        <p>Se excluir, esse item não entrará na conta, ok?</p>
      </div>
      <div class="btn-edit">
        <app-button
        buttonTitle="Voltar"
        styleButton="secondary"
        size="modal"
        (buttonAction)="closeDialog();"
      ></app-button>
      <app-button
        buttonTitle="Excluir"
        styleButton="primary"
        size="modal"
        (buttonAction)="deleteItem(orderToEditOrDelete)"
      ></app-button>
      </div>
    </div>
  </dialog>

  <article>
    <header class="title">
      <h1 class="primary" *ngIf="isEdit">Modificar item</h1>
      <div *ngIf="!isEdit">
        <h1 class="primary">O que pediram ?</h1>
        <p>Adicione item por item</p>
      </div>
    </header>

    <section class="card" *ngIf="orders.length !== 0 && !isEdit">
      <header class="card_title">
        <h3>Já ta na conta</h3>
      </header>
      <div class="info" *ngFor="let order of orders; let i = index">
        <div class="orderContent">
          <h4>{{ order.name }}</h4>
          <div class="legend-name-content">
            <h5>
              {{ getFormattedUserNamesForDisplay(getMaxNumberOfUsersInDisplay(order.sharedUsers)) }}
              <ng-template [ngIf]="order.sharedUsers.length > maxNumberOfUsersInDisplay">,&nbsp;</ng-template>
              <div style="display: inline-block;" (mouseover)="onHover(i)" (mouseout)="onMouseout(i)" *ngIf="order.sharedUsers.length > maxNumberOfUsersInDisplay">
                <app-tooltip
                  [showTooltip]="tooltipDisplayStates[i]"
                  [content]="getFormattedUserNamesForDisplay(order.sharedUsers)"
                  [numberOfUsers]="order.sharedUsers.length - maxNumberOfUsersInDisplay"
                ></app-tooltip>
              </div>
            </h5>
          </div>
        </div>
        <div class="deleteItem">
          <div>
            <h4 class="align-end">
              {{ multiplyValues(order.quantity, order.price) | currency }}
            </h4>
            <legend class="legend-light align-end">
              ({{ order.quantity }}x {{ order.price | currency }})
            </legend>
          </div>
          <a (click)="openDialog(order)"
            ><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
          </a>
          <a class="btn-description" [routerLink]="'/ordens/' + order.id">
            <button >
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
              </svg>
            </button>
          </a>
        </div>
      </div>
    </section>

    <section>
      <form class="input-content" [formGroup]="orderForm">
        <div class="food_name_input">
          <input
            class="input-text"
            type="text"
            name="foodName"
            formControlName="foodName"
            placeholder="Ex: Polenta frita"
            maxlength="30"
            [ngClass]="{
              'error-input':
                this.orderForm.get('foodName').dirty &&
                this.orderForm.get('foodName').invalid
            }"
          />
          <div class="error-msg">
            <p
              *ngIf="
                this.orderForm.get('foodName').dirty &&
                this.orderForm.get('foodName').invalid &&
                this.orderForm.get('foodName').value.length >
                  maxLengthCaracteres
              "
            >
              O nome não pode ter mais de {{ maxLengthCaracteres }} caracteres.
            </p>
            <p
              *ngIf="
                this.orderForm.get('foodName').dirty &&
                this.orderForm.get('foodName').invalid &&
                this.orderForm.get('foodName').value.length === 0
              "
            >
              Ops! Esse nome está em branco.
            </p>
          </div>
        </div>

        <div class="food_price">
          <div class="price-content">
            <span class="field field-price">R$</span>
            <input
              class="input-text input-text-price"
              formControlName="price"
              name="price"
              placeholder="0,00"
              type="tel"
              currencyMask
              [options]="{ prefix: '', thousands: '.', decimal: ',' }"
              [ngClass]="{
                'error-input':
                  this.orderForm.get('price').dirty &&
                  this.orderForm.get('price').invalid
              }"
            />
          </div>
          <div
            class="error-msg"
            *ngIf="
              this.orderForm.get('price').invalid &&
              this.orderForm.get('price').dirty
            "
          >
            <p>Digite o valor do item.</p>
          </div>
        </div>

        <div class="quantity">
          <button
            class="field field-less"
            (click)="updateQuantity($event, 'subtract')"
            (touchstart)="updateQuantity($event, 'subtract')"
          >
            -
          </button>
          <input
            class="input-text input-text-quantity"
            type="number"
            name="quantity"
            [placeholder]="quantity"
          />
          <button
            class="field field-add"
            (click)="updateQuantity($event, 'add')"
            (touchstart)="updateQuantity($event, 'add')"
          >
            +
          </button>
        </div>
      </form>
    </section>
    <div class="checkbox-content">
      <div class="editar">
        <h3>Dividir valor entre</h3>
        <app-button-link
          title="editar pessoas"
          class="cursor-pointer"
          (buttonAction)="editarPessoas()"
        ></app-button-link>
      </div>
      <div class="form-content">
        <div class="mark-all-users">
          <input
            id="all-users"
            [(ngModel)]="markAllUsers"
            type="checkbox"
            name="name"
            (change)="selectAllUser($event)"
          />
          <label for="name">Selecionar todos</label>
        </div>
        <form
          class="form-checkbox"
          *ngFor="let user of usersList; let i = index"
        >
          <input
            type="checkbox"
            name="name"
            [(ngModel)]="selectedUsers[i]"
            (change)="selectedUser(i, $event)"
          />
          <label for="name">{{ user.name }}</label>
        </form>
        <div class="btn-trash" *ngIf="isEdit">
          <a (click)="openDialog(orderToEditOrDelete)">
            <img src="../../../assets/trash_.svg" alt="" />
            <app-button-link title="Excluir item"></app-button-link>
          </a>
        </div>
      </div>
    </div>
  </article>
  <footer class="btn-content" *ngIf="!isEdit">
    <app-button
      [buttonTitle]="orders.length >= 1 ? 'próximo item' : 'incluir item'"
      styleButton="primary"
      size="large"
      [isDisabled]="!this.canEnableSubmitItemButton()"
      (buttonAction)="createOrder()"
    ></app-button>
    <app-button-link
      title="Finalizar pedidos >"
      (buttonAction)="goToSummary()"
    ></app-button-link>
  </footer>

  <footer class="btn-content-edit" *ngIf="isEdit">
    <app-button
      buttonTitle="voltar"
      styleButton="secondary"
      size="small"
      [isDisabled]=""
      (buttonAction)="navigateTo();"
    ></app-button>
    <app-button
      buttonTitle="salvar"
      styleButton="primary"
      size="small"
      [isDisabled]="!this.canEnableSubmitItemButton()"
      (buttonAction)="editOrder();"
    ></app-button>
  </footer>
</main>
