<main class="content">

  <dialog class="modal" #dialog>
    <div class="modal-content" *ngIf="this.userToDelete">
      <div >
        <h5>Tem certeza que deseja excluir o(a) {{this.userToDelete.name}}?</h5>
        <legend>Se excluir {{this.userToDelete.name}}, ele(a) será excluído(a) da divisão de valor de todos os itens.</legend>
      </div>
      <div class="btn-edit">
        <app-button
        buttonTitle="Voltar"
        styleButton="secondary"
        size="modal"
        (buttonAction)="closeDialog();"
      ></app-button>
      <app-button
        buttonTitle="Excluir"
        styleButton="primary"
        size="modal"
        (buttonAction)="deleteUser(indexUserToDelete)"
      ></app-button>
      </div>
    </div>
  </dialog>

  <section>
    <h1 class="primary" *ngIf="!isEdit">Pra começar,
      quem está no rolê?
    </h1>
    <h1 class="primary" *ngIf="isEdit">
      Deseja excluir ou adicionar alguém?
    </h1>

    <form class="form-content"  [formGroup]="form" [scrollTop]="autofocus.scrollHeight" #autofocus>
      <div formArrayName="inputs">
        <div *ngFor="let input of inputs.controls; let i = index;" [formGroupName]="i" >
          <div class="input-content" [ngClass]="{'error-input': this.inputs.at(i).dirty && this.inputs.at(i).invalid }">
            <input type="text" name="name" formControlName="name" appAutofocus maxlength="25" cursor-pointer>
            <app-button-link (buttonAction)="openDialog(i);" title="excluir" class="cursor-pointer"></app-button-link>
          </div>
          <div class="error-msg">
            <legend *ngIf="(this.inputs.at(i).dirty && this.inputs.at(i).invalid) && this.inputs.at(i).get('name')!.value.length > 25">
              O nome não pode ter mais de 25 caracteres.
            </legend>
            <legend *ngIf="(this.inputs.at(i).dirty && this.inputs.at(i).invalid) && this.inputs.at(i).get('name')!.value.length === 0">
              Ops! Esse nome está em branco.
            </legend>
          </div>
        </div>
      </div>
      <div class="input-content">
        <button class="btn-add" (click)="addNewUserInput();">
          <p>Nome da pessoa</p>
        </button>
      </div>
    </form>
  </section>

  <footer class="btn-next" *ngIf="!isEdit">
    <app-button
      buttonTitle="começar"
      [isDisabled]="!canEnableSubmitButton()"
      styleButton="primary"
      size="large"
      (buttonAction)="submit();"
    ></app-button>
  </footer>
  <footer class="btn-edit" *ngIf="isEdit">
    <app-button
      buttonTitle="Voltar"
      styleButton="primary"
      size="small"
      (buttonAction)="navigateTo();"
    ></app-button>
    <app-button
      buttonTitle="Salvar"
      styleButton="primary"
      size="small"
      (buttonAction)="submit();"
    ></app-button>
  </footer>
</main>
